# Dependencies
node_modules
package-lock.json
yarn.lock

# Build
build
dist
tmp

# Coverage
coverage
.nyc_output

# Test
.env.testing

# IDE & Editors
.idea
.vscode
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Misc
.env
.env.local
*.log
